<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCYr6c_34pR1QY9sO03NI3vckYVfPxtQjs</string>
	<key>GCM_SENDER_ID</key>
	<string>536058961339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tripease</string>
	<key>PROJECT_ID</key>
	<string>ride-sharing-app-63345</string>
	<key>STORAGE_BUCKET</key>
	<string>ride-sharing-app-63345.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536058961339:ios:b6c04f623498a7428af89e</string>
</dict>
</plist>